{% extends "OmarEscuelaBundle::layout.html.twig" %}

{% block content %}
    <h1>Editar datos del grupo</h1>
	<hr/>
	<br/>
    {{ form(edit_form) }}
    {{ form(delete_form) }}
	<hr/>
	<br/>
    <ul class="record_actions">
		<li>
			<a class="btn btn-primary" href="{{ path('grupo') }}">
				Regresar
			</a>
		</li>		
	</ul>
{% endblock %}
