{% extends "OmarEscuelaBundle::layout.html.twig" %}

{% block content %}
    <h1>Agregar Maestro</h1>
	<hr/>
	<br/>
    {{ form(form) }}
    <br/>
	<ul class="record_actions">
		<li>
			<a class="btn btn-primary" href="{{ path('maestro') }}">
				Regresar
			</a>
		</li>
	</ul>
{% endblock %}
