{% extends "OmarEscuelaBundle::layout.html.twig" %}

{% block content %}
    <h1>Agregar nuevo horario</h1>
	<hr/>
	<br/>
    {{ form(form) }}
	<br/>
    <ul class="record_actions">
		<li>
			<a class="btn btn-primary" href="{{ path('horario') }}">
				Regresar a la lista
			</a>
		</li>
	</ul>
{% endblock %}
